body {
    font-family: 'Montserrat', sans-serif;;
}

h1 {
    text-align: center;
    color: red;
}

.tabla1 {
    margin-top: 1.5rem;
    width: 100%;
    border-spacing: 0;

}

thead {
    background-color: green;
}

th {
    color: white;
    padding: 1rem;
}

tr {
    text-align: center;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
}

.boton-anaranjado {
    background-color: orange;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    text-align: center;
    padding: 1rem 3rem;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 12px;

    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
    }
}

.boton-rojo {
    background-color: red;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 12px;
    
    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
    }
}

.boton-verde {
    background-color: green;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 12px;
    
    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
    }
}

img {
    width: 5rem;
}


label {
    font-weight: 5px;
    text-transform: uppercase;
    display: block;
    color: #636363;
}

input:not([type="submit"]) {
    padding: 1rem;
    display: block;
    width: 96%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

legend {
    font-size: 2rem;
    color: #565656;
}

.contenedor{
    padding: 0 10rem 0 10rem;
}
