@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: #f6f5f7;
    font-family: 'Montserrat', sans-serif;
}

.formulario {
    padding-top: 2rem;
}
/* Comentario de prueba */

h1 {
    text-align: center;
    font-weight: bold;
	margin: 2rem 0;
}

.tabla1 {
    margin-top: 1.5rem;
    width: 100%;
    border-spacing: 0;

}

th {
    color: white;
    padding: 1rem;
    background-color: green;
}

/* .encabezado {
    background-color: green;
} */

tr {
    background-color: #ffffff;
    text-align: center;
    color: black;
    font-size: 1rem;
}

#tabla1 tr:nth-child(even) {
    background-color: #f2f2f2f2;
}

.boton-nuevo {
    background-color: green;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    margin-left: 80%;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid black;

    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
    }
}

.boton-actualizar {
    background-color: orange;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.5rem;
    margin-top: 5px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid black;

    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
        border: 1px solid #0dd4c0;
    }
}

.boton-eliminar {
    background-color: red;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    text-align: center;
    padding: 0.8rem 1.5rem;
    margin: 3px;
    font-size: 1rem;
    border-radius: 12px;

    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
    }
}

.boton-guardar {
    background-color: green;
    color: white;
    font-weight: 30px;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    margin: 3px;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid black;

    &:hover {
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: purple;
        border: 1px solid #0dd4c0;
    }
}

img {
    width: 5rem;
}

label {
    font-weight: 5px;
    text-transform: uppercase;
    display: block;
    color: #636363;
}

input:not([type="submit"]) {
    padding: 1rem;
    display: block;
    width: 96%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

legend {
    font-size: 2rem;
    color: #565656;
}

.contenedor {
    padding: 0 10rem 0 10rem;
}

.alerta {
    padding: .5rem;
    text-align: center;
    color: white;
    font-weight: 5px;
    text-transform: uppercase;
    margin: 1rem 0 2rem 0;

    &:hover {
        background-color: #0e960e;
    }
}

.error {
    background-color: red;
}

.exito {
    background-color: green;
}

.w-100 {
    display: inline;
}